@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<p>
    <a asp-controller="Ferries" asp-action="Index">Manage Ferries</a>
</p>
<p>
    <a asp-controller="Cars" asp-action="Index">Manage Cars</a>
</p>
<p>
    <a asp-controller="Guests" asp-action="Index">Manage Guests</a>
</p>
